<div class="container mt-4">
  <h4 class="mb-3">My Requirements</h4>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Message</th>
        <th>Created At</th>
        <th *ngIf="role !== 'user'">User</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let req of requirements; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ req.requirementTitle }}</td>
        <td>{{ req.requirementMessage }}</td>
        <td>{{ req.createdAt | date : "short" }}</td>
        <td *ngIf="role !== 'user'">{{ req?.userId.name }}</td>
        <td>
          <a
            href="/dashboard/requirement-reply/{{ req._id }}"
            class="btn-success btn"
            >Reply</a
          >
          <a
            href="/dashboard/requirement-chat/{{ req._id }}"
            class="btn-primary btn mt-2"
            >View</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="requirements.length === 0" class="alert alert-info">
    No requirements found.
  </div>
</div>
